

VITE_SUPABASE_URL=https://xsitevqytancdkereyus.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhzaXRldnF5dGFuY2RrZXJleXVzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIyOTEzMTEsImV4cCI6MjA4Nzg2NzMxMX0.dJsO9KrWmiHYxH6mcXvmbQE7PJKRdyMCRM2tyIta2Do
